@import '../login/login.component.scss';

.form-row {
  display: flex;
  gap: var(--space-2);

  .form-group {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .form-row {
    flex-direction: column;
    gap: var(--space-2);
  }
}
